@import '../../styles/_extendable';
@import '../../styles/_variables';

.hero {
  background: #2c2e35;
  margin-top: -$navbar-height;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @extend %side-padding, %transition-all;
}

.hero-pretitle {
  color: whitesmoke;
  font-size: 1.5em;
  @media screen and (min-width: 800px) {
    font-size: 2em;
  }

  @media screen and (max-width: 800px) {
    font-size: 1.75em;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.5em;
  }
  font-weight: 400;
}

.hero-title {
  color: white;
  font-size: 4em;
  font-weight: 500;
  line-height: 1.2em;

  margin-top: 20px;
  @media screen and (max-width: 600px) {
    margin-top: 10px;
  }
}

.hero-logo {
  margin-top: 20px;

  width: 400px;
  @media screen and (min-width: 800px) {
    width: 500px;
  }

  @media screen and (max-width: 800px) {
    width: 450px;
  }

  @media screen and (max-width: 600px) {
    width: 400px;
  }

  max-width: 80vw;

  @extend %transition-all;
}

.hero-subtitle {
  color: whitesmoke;
  font-size: 1.35em;
  @media screen and (max-width: 600px) {
    font-size: 1.25em;
  }
  font-weight: 300;
  line-height: 1.7em;

  max-width: 50vw;
  @media screen and (min-width: 950px) {
    max-width: 50vw;
  }
  @media screen and (max-width: 950px) {
    max-width: 75vw;
  }
  @media screen and (max-width: 700px) {
    max-width: 100vw;
  }

  margin-top: 20px;
  @extend %transition-width;
}

.hero-emphasis {
  font-size: 1.35em;
  font-weight: 500;
  text-decoration: none;
}

.hero-emphasis-blue {
  color: #59c7d1;
  text-shadow: -2px 2px 0px #3c8b8a;
}

.hero-emphasis-green {
  color: #65c19c;
  text-shadow: -2px 2px 0px #328060;
}

.hero-emphasis:hover {
  cursor: pointer;
  padding-bottom: 3px;
}

.hero-emphasis-green:hover {
  border-bottom: 3px solid #65c19c;
}

.hero-emphasis-blue:hover {
  border-bottom: 3px solid #59c7d1;
}
