@import '../../styles/_extendable';
@import '../../styles/_variables';

.container {
  background: #202024;

  position: fixed;
  width: 100%;
  height: $navbar-height;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @extend %transition-padding;
}

.container-scrolled {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @extend %side-padding, %transition-padding;
}

.link-container {
  display: flex;
}

.link {
  color: white;
  text-decoration: none;
}

.link-spacer {
  margin: 0 20px;
}

.logo,
.logo-image {
  height: 3em;
  width: 3em;
  transition: all 0.2s ease-in-out;
}

.logo-image:hover {
  transform: scale(1.05);
}

.item,
.item-image {
  height: 2em;
  width: 2em;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-icon {
  height: 26px;
  width: 26px;
}

.switch {
  margin: 0 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSphere {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: $primaryblue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchSphere:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchInput:checked + .switchSphere {
  background-color: $primarygreen;
}

.switchInput:focus + .switchSphere {
  box-shadow: 0 0 1px $primarygreen;
}

.switchInput:checked + .switchSphere:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
