@import '../styles/_variables.scss';
$left-padding: 25px;

.dropdown-container {
  padding: 10px $left-padding;
  margin-bottom: 10px;
  background: $darkergray;

  border-radius: 30px;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.dropdown-container:hover {
  border: 1px solid whitesmoke;
}

.dropdown-title {
  flex: 1;
  color: #ddd;

  font-size: 1em;
  font-weight: 500;
}

.dropdown-icon {
  width: 24px;
  height: 24px;
}

.dropdown-text {
  margin: 0 $left-padding;
  padding-bottom: 10px;
  color: #ddd;

  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
}
